page-contactus {
    ion-content {
      form {
        .form-group {
          background: rgba(255, 255, 255, 0.35);
          border-radius: 5px;
          display: flex;
          margin-bottom: 10px;
          align-items: center;
          padding: 2px;
          max-height: 45px;
          ion-icon {
            margin: 0 4px;
            width: 3.2rem;
            height: 3.2rem;
            line-height: 3.2rem;
            text-align: center;
            border-radius: 50%;
            border: 1.2px solid #fff;
            color: #fff !important;
            font-size: 2.25rem;
          }
          ion-input {
            background-color: #fff;
            color: #333;
            input {
              &::placeholder {
                letter-spacing: 1px !important;
              }
            }
          }
        }
        .form-submit {
          button {

              width: 60%;
              max-width: 220px;
              border-radius: 12px;

          }
        }
        ion-textarea {
          background-color: #fff;
          border-radius: 5px;
          padding: 8px;

        }
      }
    }
}
