<img class="stacked-img-header" src="assets/imgs/logo-head.png" width="86" alt="">
<ion-header no-border>
  <ion-navbar color="primary" class="header-bg">
  </ion-navbar>
</ion-header>

<ion-content padding >
  <div margin-top text-center *ngIf="!messages.length">
    <p text-center>
      <ion-icon name="ios-create-outline"></ion-icon>
    </p>
    ابدأ المحادثة الان
  </div>

  <ion-list no-lines #chatList *ngIf="localUser&&messages.length">

  <!--<ion-item margin-bottom [class.receiver]="message.type=='receiver'" [@messageState]="message.state" *ngFor="let message of messages">
    {{message.content}}
  </ion-item>-->
  <ion-item margin-bottom  [class.receiver]="localUser.id != msg.user_send_id" [@messageState]="msg.state" *ngFor="let msg of messages">
    <p>{{msg.message}}</p>
    <span>{{msg.date|timeSince}} ago</span>
  </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <button ion-button mini icon-only no-margin color="secondary" (click)="sendMessage()">
        <ion-icon name="send" ></ion-icon>
      </button>
<textarea #enteredMsg rows="1" (input)="watchHeight($event)" type="text" placeholder="اكتب رسالتك"></textarea>




</ion-footer>
