page-login {

  ion-content {
    .top-nav {
      padding: 8px 8px 0 8px;
      position: absolute;
      top: 0;
      left: 0
    }
    .for-hero {
      text-align: center;
      height:40vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      img {
        display: block
      }

    }
    &.content {
      background: url(../assets/imgs/water-bg.png);
      background-size: 100% 100%;
    }
    form {
      .form-group {
            background: rgba(255,255,255, 0.35);
            border-radius: 5px;
            display: flex;
            margin-bottom: 10px;
            align-items: center;
            padding: 2px;
            max-height: 45px;
            border: 1.2px solid $primary;
            ion-icon {
              margin: 0 4px;
              width: 3.2rem;
              height: 3.2rem;
              line-height: 3.2rem;
              text-align: center;
              border-radius: 50%;
              font-size: 2.25rem;
            }
            ion-input {
              input {
                letter-spacing: 1px !important;
                font-weight: bold;
                text-align: center;
                &::placeholder {
                  color: $primary !important;
                  font-size: 1.2rem;
                  font-weight: 300;
                }
              }
            }
      }
      .form-submit {
        button {
          width: 60%;
          max-width: 220px;
          border-radius: 12px;
        }
      }
      .outform-actions {
        button {
          display: block;
        }
      }

    }
    .social-login {
      text-align: center;
      button {
        height: 60px;
        img {
          width: 50px;
        }
      }
    }
  }
}
