<img class="stacked-img-header" src="assets/imgs/logo-head.png" width="86" alt="">
<ion-header no-border>
  <ion-navbar color="primary" class="header-bg">
  </ion-navbar>
</ion-header>


<ion-content padding>

  <section margin-top text-center >
    <ion-chip class="page-title">
      <ion-icon name="basket"></ion-icon>
      <ion-label>
        طلبية
         {{orderNumber}}
      </ion-label>
    </ion-chip>
  </section>

  <p text-center margin [hidden]="order&&order.user_id">
    <ion-spinner></ion-spinner>
  </p>
  <div class="order-details" *ngIf="order&&order.user_id">
    <div class="form-group">
      <label>
         نص الطلبية
      </label>
      <p>{{order.notes}}</p>
    </div>
    <div class="form-group">
      <label>
         سعر الطلبية
      </label>
      <p>{{order.total}} ريال</p>
    </div>
    <div class="form-group">
      <label>
         سرعة الطلبية
      </label>
      <p>{{order.type | translate}}</p>
    </div>
    <div class="form-group">
      <label>
        طريقة الدفع
      </label>
      <p>
         {{order.payment_option | translate}}
      </p>
    </div>
    <div class="form-group" *ngIf="delegateUser">
      <label>
         المندوب
      </label>
      <p>{{delegateUser.name}}</p>
    </div>
    <div margin-top class="form-group">
      <label>
        حالة الطلبية
      </label>
      <p>{{getStatus(order)}}</p>
    </div>
  </div>
  <section class="actions-btns order-track-btn" *ngIf="localUser&&localUser.role!='user'&&order&&order.user_id">

    <button ion-button (click)="changeOrderStatus(1)" *ngIf="order.status<1" color="secondary" >الموافقة على تسليم الطلبية</button>

    <button ion-button (click)="changeOrderStatus(3)" *ngIf="order.status<=1" color="secondary" >رفض الطلب</button>

    <button ion-button *ngIf="order.status>=1&&order.status<3"(click)="openPage('TrackorderPage', {delegate:delegateUser})" color="secondary" >تتبع الطلب</button>
  </section>

 </ion-content>
