page-trackorder {
  ion-content {
    .page-title {
      background-color: #fff;
      ion-label {
        width: 100px;
      }
    }
    #map {
      background-color: #eee;
      height: 60vh;
      width: 100%;
      margin: 2rem 0;
          border-bottom: 10px solid #e8e8e8;
          border-top: 10px solid #e8e8e8;

    }
  }
}
