page-request-order {

  ion-content {
    &.content {
      background-color: #fff;
    }
    .page-title {
      background-color: #fff;
      ion-label {
        width: 100px;
        font-weight: bold;
      }
    }
    .edit-btn {
      width: 60%;
      max-width: 220px;
      border-radius: 12px;
    }
    .page-hero {
      display: flex;
      justify-content: center;
      height:220px;
      align-items: center;
      background-color: $primary;
      background-image: url(../assets/imgs/BG2.png);
      background-size: cover;
      .img-holder {
        width: 11rem;
        height: 11rem;
        border-radius: 50%;
        background: linear-gradient(135deg, #fff 50%, $primary 50%);
        box-shadow: 0 4px 10px #555;
        @extend %flex-center;
        img {
          transform: translateX(-0.9rem);
        }
      }
    }

    .request-msg {
      padding: 1.6rem;
      ion-icon {

        color: $primary;
      }
      div {
        padding: 6px 0;
      }
      .request-info {
        display: flex;
        justify-content: space-between;
      }
      p {
        color: #fff;
        padding: 8px;
        font-weight: bold;
        margin-bottom: 0 !important;
      }
      ion-textarea {
        background-color: #fff;
        padding: 8px;
        textarea {
          margin-top: 0 !important;
        }
      }
    }
  }

  ion-footer {
    &.page-footer {
      display: flex;
      button {
        overflow: hidden !important;
        width: 50%;
        border-radius: 0 !important;
        p {
          padding: 0 1rem;
        }
        ion-icon {
          position: absolute;
          right: 1.3rem;
          z-index: 5;
        }
        &.button-md {
          &:before,
          &:after {
            top: 0 !important
          }
        }
        &:last-of-type {
          &:before, &:after {
            background: linear-gradient(to right, #3BBBEF, #2D78A8);
          }
        }
        &:before, &:after {
          content: '';
          position: absolute;
          top: 4px;
          right: -40px;
          width: 60px;
          height: 60px;
          transform: rotate(45deg) translate(-15px, -1px);
          transform-origin: 50% 50%;
          background: linear-gradient(to right, #F98D21, #F8111B);
        }

      }

    }
  }
}
