page-profile {
  ion-content {
    $hero-img-width: 9rem;
    .user-section {
      @extend %flex-center;
      padding: 1.6rem;
      .user-img {
        min-height: $hero-img-width;
        text-align: center;
        img {
          min-height: $hero-img-width;
          min-width: $hero-img-width;
          width: $hero-img-width;
          height: $hero-img-width;
          border-radius: 50%;
          background-color: #fff;
        }
      }
      .user-name {
        text-align: center;
        color: $primary;
        margin-top: 6px;
      }
    }
    .rating {
      padding: 0;
      margin: 0;
      li {
        ion-icon {
          font-size: 1.8rem;
        }
      }
    }
    ion-grid {
      ion-row {
        ion-col {
          ion-chip {
            background-color: #fff !important;
            color: #A5A5A5;
            border: 1px solid $primary;
            ion-icon {
              transform: translate(1px, -1px);
            }
          }
        }
      }
    }

    .profile-data {
      margin: 2.2rem auto;
      form {
        .form-group {
          display: flex;
          background: #fff;
          border-radius: 10px;
          color: #696969;
          padding: 6px;
          margin-bottom: 10px;
          label {
            width: 35%;
            position: relative;
            &:after {
              content: ':';
              position: absolute;
              left: 8px;
              top: 0;
            }
          }
          p {
            margin: 0
          }
        }
      }
    }
  }
}
