
<ion-header no-border>
  <ion-navbar color="primary" >
    <ion-title>{{'Profile'|translate}}</ion-title>
    <!--<ion-buttons end>
      <button ion-button icon-only *ngIf="localUser&&localUser.role=='user'" (click)="openPage('MapsPage')">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <section class="user-section">
    <div class="user-img">
      <img src="assets/imgs/profile-alt.png" alt="">
      <button ion-button icon-only type="button" color="light" mini round (click)="changeImage()">
        <ion-icon name="add" color="primary"></ion-icon>
      </button>
    </div>
    <div class="user-name">
      <h2>{{localUser&&localUser.name}}</h2>
    </div>

  </section>


  <!--<ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-chip (click)="changePageMode()">
          <ion-icon name="man"></ion-icon>
          <ion-label>تعديل البيانات</ion-label>
        </ion-chip>
      </ion-col>

      <ion-col text-center>
        <ion-chip (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
          <ion-label>تسجيل الخروج</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

  </ion-grid>-->


  <section padding class="profile-data" *ngIf="localUser">
    <!--  edit user details -->
    <form class="user-edit-details"
          [formGroup]="profileEditForm"
          *ngIf="pageMode.editMode;else viewMode">
      <div class="form-group">
        <label >
          الاسم الأول
        </label>
        <ion-input dir="rtl" type="text" formControlName="first_name"></ion-input>
      </div>
      <div class="form-group">
        <label >
          الاسم الأخير
        </label>
        <ion-input dir="rtl" type="text" formControlName="last_name"></ion-input>
      </div>
      <div class="form-group">
        <label >
          البريد الالكترونى
        </label>
        <ion-input type="email" dir="rtl" formControlName="email" autocomplete="true" name="form_email"></ion-input>
      </div>
      <div class="form-group mobile-group">
        <label >
          رقم الهاتف
        </label>
        <span>+966</span>
        <input  type="tel" [textMask]="{mask: formMasks.mobile}" placeholder="رقم الجوال 9 ارقام" formControlName="phone" autocomplete="true" name="form_phone">
      </div>
      <div class="form-group" [hidden]="localUser.role == 'user'">
        <label >
          المركبة
        </label>
        <ion-input type="text" dir="rtl" formControlName="vehicle" autocomplete="true" name="form_vehicle"></ion-input>
      </div>
      <div class="form-group">
        <label >
          العنوان
        </label>
        <ion-input type="text" dir="rtl" formControlName="address" autocomplete="true" name="form_address"></ion-input>
      </div>
    </form>


      <!-- showing user details -->
      <ng-template #viewMode>
        <div class="user-details">
          <div class="form-group">
            <label >
              الاسم الأول
            </label>
            <p>{{localUser.first_name}}</p>
          </div>
          <div class="form-group">
            <label >
              الاسم الأخير
            </label>
            <p>{{localUser.last_name}}</p>
          </div>
          <div class="form-group">
            <label >
              البريد الالكترونى
            </label>
            <p>{{localUser.email}}</p>
          </div>
          <div class="form-group">
            <label >
              رقم الهاتف
            </label>
            <p>
              {{localUser.phone}}
            </p>
          </div>
          <div class="form-group">
            <label >
              العنوان
            </label>
            <p>{{localUser.address}}</p>
          </div>
        </div>
      </ng-template>

  </section>

  <p text-center>
    <button [hidden]="pageMode.editMode" ion-button class="edit-btn" (click)="changePageMode()">
      تعديل
    </button>
    <button [hidden]="!pageMode.editMode" ion-button class="edit-btn"  (click)="submitForm()">
      حفظ
    </button>
  </p>
</ion-content>

