
<ion-header no-border>
  <ion-navbar color="primary" class="header-bg">
    <button ion-button menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>

            <!-- (click)="hideNotification=!hideNotification;notificationIsOpen=!hideNotification"> -->
    <button ion-button icon-only clear
    (click)="openPage('NotificationsPage')" >
      <ion-icon class="bill-icon" name="notifications"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="openPage('MapsPage')">
        <ion-icon name="locate"></ion-icon>
      </button>
      <button ion-button icon-only class="cart-button" (click)="openPage('CartPage')">
        <ion-icon name="cart">
          <!--<ion-badge color="secondary">0</ion-badge>-->
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <section class="notifications" [hidden]="hideNotification" clickOutside (clickOutsideEvent)="fireEvent()">
    <ion-list no-lines>
      <!-- Notification is Static for now-->
      <ion-item class="transparent-bg" (click)="openPage('NotificationPage', {id: 1})">
        لا يوجد اشعارارت حتى الان
      </ion-item>
    </ion-list>
  </section>
  <section class="hero">
    <img class="hero-img" src="assets/imgs/hero-img.png" alt="">
  </section>

  <section class="home-segments">
    <h1>الرئيسية</h1>

    <div class="cat-segments">
      <!--<button no-margin ion-button clear (click)="changeHomeCategory('all')"
              [class.selected]="restaurant_category == 'all'">الكل
      </button>-->
      <button no-margin ion-button clear (click)="changeHomeCategory('nearby')"
              [class.selected]="restaurant_category == 'nearby'">  أقرب المندوبين
      </button>
      <button no-margin ion-button clear (click)="changeHomeCategory('active')"
              [class.selected]="restaurant_category == 'active'"> أنشط المندوبين
      </button>

    </div>
  </section>

  <!-- No Restaurant -->
  <p text-center margin *ngIf="allRestaurants&&!allRestaurants.length&&restaurant_category === 'all'">
    لا يوجد مندوبين حاليا
  </p>

  <ion-slides dir="rtl">
    <!-- Nearest slide-->
    <ion-slide>
      <ion-list no-lines margin-horizontal>

        <!-- Real Data From Data base -->
        <ion-item margin-bottom *ngFor="let restaurant of nearbyRestaurants.featured;trackBy: trackByFn" (click)="openPage('MapsPage', {pageData:restaurant})">
          <ion-avatar>
            <img src="assets/imgs/rest-alt.png" alt="">
          </ion-avatar>
          <div class="result-actions">
            <p>{{restaurant.title}} </p>
            <p [hidden]="!restaurant.address">{{restaurant.address}}</p>
            <p class="est-loc">
              <ion-icon name="pin" color="primary"></ion-icon>
              {{restaurant.distance | number:'.0-0'}} متر
            </p>
          </div>
        </ion-item>

        <!-- Loading component for nearby Restaurant -->
        <ng-template [ngIf]="nearbyRestaurants.featured.length<1">
          <ion-item margin-bottom *ngFor="let i of [1,2,3]" >
            <ion-avatar class="loading">
              <img src="" alt="">
            </ion-avatar>
            <div class="result-actions loading">
              <p></p>
              <p></p>
            </div>
          </ion-item>
        </ng-template>
      </ion-list>
    </ion-slide>


    <ion-slide>
      <ion-list no-lines margin-horizontal>
        <ion-item margin-bottom *ngFor="let i of [1,2,3]" [hidden]="activeRestaurants&&activeRestaurants.length">
          <ion-avatar class="loading">
            <img src="" alt="">
          </ion-avatar>
          <div class="result-actions loading">
            <p></p>
            <p></p>
          </div>
        </ion-item>
<ion-item margin-bottom  *ngFor="let restaurant of activeRestaurants;trackBy: trackByFn"

  (click)="openPage('MapsPage', {pageData:restaurant})">

          <ion-avatar>
            <img [src]="restaurant.icon" alt="">
          </ion-avatar>
          <div class="result-actions">
            <p>{{restaurant.title}}</p>
            <p class="est-loc">
              <ion-icon name="pin" color="primary"></ion-icon>
                {{restaurant.distance | number:'.0-0'}} متر
            </p>
          </div>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
