<img class="stacked-img-header" src="assets/imgs/logo-head.png" width="86" alt="">
<ion-header no-border>
  <ion-navbar color="primary" class="header-bg">
    <button ion-button menuToggle>
      <ion-icon name="md-list"></ion-icon>
    </button>

    <button ion-button icon-only clear
            (click)="hideNotification=!hideNotification;notificationIsOpen=!hideNotification">
      <ion-icon class="bill-icon" name="notifications"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="openPage('MapsPage')">
        <ion-icon name="locate"></ion-icon>
      </button>
      <button ion-button icon-only class="cart-button" (click)="openPage('CartPage')">
        <ion-icon name="cart">
          <!--<ion-badge color="secondary">0</ion-badge>-->
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <section class="notifications" [class.ltr]="platform.dir()=='ltr'" [hidden]="hideNotification" clickOutside (clickOutsideEvent)="fireEvent()">
    <ion-list no-lines>
      <!-- Notification is Static for now-->
      <ion-item [dir]="platform.dir()" class="transparent-bg" (click)="openPage('NotificationPage', {id: 1})">
        <p text-center>
            {{'No Notifications'|translate}}
        </p>
      </ion-item>
    </ion-list>
  </section>
  <section class="hero" hidden>
    <img class="hero-img" src="assets/imgs/hero-img.png" alt="">
  </section>

  <section class="home-segments">
    <h1>{{'Areas'|translate}}</h1>

    <div class="cat-segments">
      <!--<button no-margin ion-button clear (click)="changeHomeCategory('all')"
              [class.selected]="restaurant_category == 'all'">الكل
      </button>-->
      <button no-margin ion-button clear (click)="changeHomeCategory('nearby')"
              [class.selected]="restaurant_category == 'nearby'"> {{'Near Places'|translate}}
      </button>
      <button no-margin ion-button clear (click)="changeHomeCategory('active')"
              [class.selected]="restaurant_category == 'active'"> {{'Active Places'|translate}}
      </button>

    </div>
  </section>
  <!-- maps -->
  <div #map></div>
  <!-- No Restaurant -->
  <p text-center margin *ngIf="allRestaurants&&!allRestaurants.length&&restaurant_category === 'all'">
    لا يوجد مطاعم حاليا
  </p>

  <ion-slides [dir]="platform.dir()">
    <!-- Nearest slide-->
    <ion-slide>
      <ion-list no-lines margin-horizontal>
        <!-- Real Data From Data base -->
        <ion-item [dir]="platform.dir()" margin-bottom *ngFor="let restaurant of nearbyRestaurants.featured;trackBy: trackByFn" (click)="openPage('MapsPage', {pageData:restaurant})">
          <ion-avatar>
            <img src="assets/imgs/place-placeholder.png" alt="">
          </ion-avatar>
          <div class="result-actions">
            <p>{{restaurant.title}} </p>
            <p [hidden]="!restaurant.address">{{restaurant.address}}</p>
            <p class="est-loc">
              <ion-icon name="pin" color="primary"></ion-icon>
              {{restaurant.distance | number:'.0-0'}} متر
            </p>
          </div>
        </ion-item>

        <!-- Loading component for nearby Restaurant -->
        <ng-template [ngIf]="nearbyRestaurants.locnear.length<1">
          <ion-item margin-bottom *ngFor="let i of [1,2,3]" >
            <ion-avatar class="loading">
              <img src="" alt="">
            </ion-avatar>
            <div class="result-actions loading">
              <p></p>
              <p></p>
            </div>
          </ion-item>
        </ng-template>
        <ion-item [dir]="platform.dir()" margin-bottom *ngFor="let restaurant of nearbyRestaurants.locnear;trackBy: trackByFn"
                  (click)="openPage('MapsPage', {pageData:restaurant})">
          <ion-avatar>
            <img [src]="'assets/imgs/place-placeholder.png'" alt="">
          </ion-avatar>
          <div class="result-actions">
            <p>{{restaurant.title}}</p>
            <p [hidden]="!restaurant.address">{{restaurant.address}}</p>
            <p class="est-loc">
              <ion-icon name="pin" color="primary"></ion-icon>
              {{restaurant.distance | number:'.0-0'}} متر
            </p>
          </div>
        </ion-item>
      </ion-list>
    </ion-slide>


    <ion-slide>
      <ion-list no-lines margin-horizontal>
        <ion-item [dir]="platform.dir()" margin-bottom *ngFor="let i of [1,2,3]" [hidden]="activeRestaurants&&activeRestaurants.length">
          <ion-avatar class="loading">
            <img src="" alt="">
          </ion-avatar>
          <div class="result-actions loading">
            <p></p>
            <p></p>
          </div>
        </ion-item>
<ion-item [dir]="platform.dir()" margin-bottom  *ngFor="let restaurant of activeRestaurants;trackBy: trackByFn"

  (click)="openPage('MapsPage', {pageData:restaurant})">

          <ion-avatar>
            <img [src]="'assets/imgs/place-placeholder.png'" alt="">
          </ion-avatar>
          <div class="result-actions">
            <p>{{restaurant.title}}</p>
            <p class="est-loc">
              <ion-icon name="pin" color="primary"></ion-icon>
                {{restaurant.distance | number:'.0-0'}} متر
            </p>
          </div>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
