page-home {

    ion-header {
        ion-navbar {
            .bill-icon {
              color: #fff
            }
        }
    }
  ion-content {
    .hero{
      min-height: 10rem;
      height: 12rem;
      .hero-img {
        width: 100%;
        height: 100%;
        min-height: 100%;
        min-width: 100%;
        background-color: #ccc;

      }
    }
    .swiper-slide {
      align-items: flex-start !important;
    }

    .home-segments {
      width: 94%;
      margin: -5rem auto 1rem;
      background-color: #fff;
      position: relative;
      h1 {
        padding: 8px;
        font-weight: bold;
        border-bottom: 2px solid $primary;
      }
      ion-segment {
        ion-segment-button {
          font-size: 1.25rem !important;
          flex: auto !important;
          border-bottom-width: 3px;
          width: auto !important;
          font-weight: bold !important;
          color: $dark  !important;
          &.segment-activated {
            color: $primary  !important;
            font-weight: bold !important;
          }
        }
      }

    }
    ion-list {
        ion-item{
          //padding: 8px !important;
          ion-avatar {
            img {
              background-color: #eee;
              width: 7rem !important;
              height: 7rem !important;
              border: 2px solid $primary;
            }
          }
          ion-label {
            display: flex;
          }
          .result-actions {
            background-color: #fff;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 8px;
            &>* {
              color: #9D9D9D
            }
            p {
              margin: 0;
            }
          }

      }
    }
    .cat-segments {
      display: flex;
      button {
        transition: all 0.25s ease-in-out;
        border-bottom: 2px solid #eee !important;
        color: $dark;
        font-weight: bold !important;
        border-radius: 0 !important;
        flex:1;
        &.selected {
          border-bottom: 2px solid $primary !important;
          color: $primary;
        }
      }
    }
  }
}
 .popover-viewport{   
            top: 57px;
            left: 108px;
            transform-origin: right top 0px;
            transform: scale(1);
            opacity: 0.8!important;
            }