page-settings {
  ion-content {
    .page-title {
      background-color: #fff;
      ion-label {
        width: 100px;
      }
    }
    .choose-lang {
      button {
        .button-inner {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
