// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Global Variables
$primary: color($colors, primary);
$secondary: color($colors, secondary);
$light: color($colors, light);
$dark: color($colors, dark);
$danger: color($colors, danger);

// File Variables
$hero-img-width: 11rem;

* {
  font-family: 'jf-flat-regular', sans-serif
}
%flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
%align-center {
  display: flex;
  align-items: center;
}
ion-menu {
  .menu-inner {
    background: transparent !important;
  }

  ion-content {
    &.content {
      background-color: rgba(59, 174, 230, 0.86);
      color: $light;
    }
    .page-title {
      background-color: #fff;
      ion-label {
        width: 100px;
      }
    }
    .user-section {
      @extend %flex-center;
      padding: 1.6rem;
      .user-img {
        min-height: $hero-img-width;
        text-align: center;
        img {
          min-height: $hero-img-width;
          min-width: $hero-img-width;
          width: $hero-img-width;
          height: $hero-img-width;
          border-radius: 50%;
          background-color: #fff;
        }
      }
      .user-name {
        text-align: center;
        h2 {
          margin-top: 1rem !important;
        }
      }
    }
    ion-list {
      button {
        background-color: transparent !important;
        color: $light !important;
        ion-label {
          margin-bottom: 0 !important;
          @extend %align-center
        }
        ion-icon {
          padding: 0.5rem;
          width: 4.5rem;
          height: 4.5rem;
          line-height: 1.2;
          text-align: center;
          border-radius: 50%;
          border: 1.2px solid #2A7CAD;
          color: #fff !important;
          font-size: 2.8rem;
        }
        p {
          color: $light !important;
          padding: 0 0.8rem;
          font-size: 1.7rem !important;
        }
      }
    }
  }
}


ion-content {
  &.content  {
    background-color: #F5F5F5;
  }
}

ion-header {
  ion-navbar {
    border-bottom: 2px solid $secondary;
  }
}

.transparent-bg {
  background: transparent;
  .toolbar-background {
    background: transparent;
  }
}
.toolbar-ios {
  min-height: 56px !important;

}

.stacked-img-header {
      position: absolute;
      top: 6px;
      left: calc(50% - 40px);
      z-index: 9999;
      width: 85px
}
.header-bg {
  background: linear-gradient(to right, #3BBCF0, #3BBCF0) !important;
}
