page-chats {
  ion-content {
    .loading {
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        display: flex;
        flex-direction: column;
        ion-icon {
          font-size: 12rem;
          color: #ccc
        }
      }
    }
    ion-list {
      ion-item {
        ion-avatar {
          margin: 0 8px;
          min-width: 50px !important;
          img {
            border: 2px solid $primary;
            width: 50px !important;
            min-width: 50px !important;
            height: 50px !important;
          }
        }
        ion-label {
          margin: 13px 8px 13px 8px !important;
          display: flex;
          .msg-details {
            width: 100%;
            p {
              &:first-child {
                display: flex;
                justify-content: space-between;
              }
              span {
                direction: ltr
              }
            }
          }
        }
      }
    }
  }
}
