<!---->
<ion-header no-border>
  <ion-navbar color="primary" class="header-bg">
    <ion-title>الرسائل</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

    <p text-center *ngIf="!loader&&!allChats?.length">
      لا يوجد رسائل
    </p>

    <p text-center *ngIf="loader">
      <ion-spinner></ion-spinner>
    </p>

    <ion-list *ngIf="localUser">

      <ion-item *ngFor="let msg of allChats" no-padding (click)="openChat({id:localUser.role == 'user'?msg.delegate_id:msg.user_id, name: localUser.role=='user'?msg.delegate_name:msg.user_name})">
        <ion-avatar>
          <img src="assets/imgs/profile-alt.png" alt="">
        </ion-avatar>
        <div class="msg-details">
          <p><b>{{localUser.role=='user'?msg.delegate_name:msg.user_name}}</b>
          <span>{{msg.date|timeSince}} ago</span></p>
          <p>{{msg.message}}</p>
        </div>
      </ion-item>
    </ion-list>
</ion-content>
