page-home2 {
  ion-content {
    .hero{
      min-height: 10rem;
      height: 12rem;
      .hero-img {
        width: 100%;
        height: 100%;
        min-height: 100%;
        min-width: 100%;
        background-color: #ccc;

      }
    }
    .notifications {
      position: absolute;
      width: 90%;
      top: 10px;
      right: 5%;
      background-color: #ffffffed;
      &:after {
        content: '';
        background-color: transparent;
        width: 0;
        height: 0;
        position: absolute;
        top: -23px;
        right: 15%;
        transform: rotate(-90deg);
        border: 12px solid transparent;
        border-left-color: #ffffffed;
      }
    }
    .upload-image {
      padding: 0;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
      transform: translateX(-10px);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: #ccc;
      background-color: #fff;
      border-radius: 5px;
      padding: 8px 0;
      &.ltr {
        
      transform: translateX(10px);
      }
      ion-icon {
        font-size: 7rem;
        color: #999;
      }
      p {
        margin: 0;

      }
    }
    input {
      border: none;
      width: 100%;
      font-size: 1.6rem;
      &::placeholder {
        color: #999 ;
      }
    }
  
  }
}
