page-resetpassword {
  ion-header {
    ion-navbar {
      border-bottom: none ;
    }
  }
    ion-content {
        &.content {
          background-color: #fff;
        }
        .reset-indicate {
          color: $dark;
          p {
            color: $dark
          }
        }
        .page-hero {
          display: flex;
          justify-content: center;
          height:220px;
          align-items: center;
          background-color: $primary;
          background-image: url(../assets/imgs/BG2.png);
          background-size: cover;
          .img-holder {
            width: 11rem;
            height: 11rem;
            border-radius: 50%;
            background: linear-gradient(135deg, #fff 50%, $primary 50%);
            box-shadow: 0 4px 10px #555;
            @extend %flex-center;
            img {
              transform: translateX(-0.9rem);
            }
          }
        }
      .p-id {
        font-size: 1.4rem;
        margin-top: 3.5rem;
      }
      .reset-types {
        display: flex;
        justify-content: center;
        color: $dark !important;
        button {
          border-radius: 0;
          &.activeslide {
            border-bottom: 1px solid $primary;
          }
        }
      }
      .secure-choice {
        color: color($colors, secure) !important;
        font-weight: bold;
      }
        .form-group {
          background: rgba(255, 255, 255, 0.35);
          border-radius: 5px;
          display: flex;
          margin-bottom: 10px;
          align-items: center;
          padding: 2px;
          height: 45px;
          border: 1px solid $primary;
          ion-icon {
            margin: 0 4px 0 1rem;
            padding: 1rem;
            width: 3.8rem;
            height: 3.8rem;
            line-height: 0.8;
            text-align: center;
            border-radius: 50%;
            color: $primary !important;
            font-size: 2.25rem;
          }
          ion-input {
            input {
              &::placeholder {
                color: $primary !important;
                font-weight: 300;
                font-size: 1.4rem;
              }
            }
          }
        }

        .form-submit {
          button {
            border-radius: 10px;
            padding: 2rem 3.5rem;
          }
        }

    }
}
