page-signup {
  $form-margin: 12px;
  ion-header {
    * {
      overflow: visible !important
    }
  }
  ion-content {
    &.content {

      background: url(../assets/imgs/water-bg.png);
      background-size: 100% 100%;
    }
    .col {
      .form-group {
        width: 98%;
      }
    }
    .for-hero {
      text-align: center;
      height:40vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content:flex-start;
      img {
        display: block
      }
      p {
        width: 60%
      }
    }
    form {
      .form-group {
        background: rgba(255,255,255, 0.35);
        border-radius: 5px;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        padding: 2px;
        max-height: 45px;
        border: 1.2px solid $primary;

        ion-icon {
          margin: 0 4px;
          width: 3.2rem;
          height: 3.2rem;
          line-height: 3.2rem;
          text-align: center;
          border-radius: 50%;
          font-size: 2.25rem;
        }
        ion-input {
          input {
            letter-spacing: 1px !important;
            font-weight: bold;
            text-align: center;
            &::placeholder {
              color: $primary !important;
              font-size: 1.2rem;
              font-weight: 300;
            }
          }
        }
      }
      .form-submit {
        button {
          width: 60%;
          max-width: 220px;
          border-radius: 12px;
        }
        .have-account {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          text-align: center;
          button {

            border-radius: 0;
            max-width: fit-content !important;
            .button-inner {
              border-bottom: 1px solid #555;
              width: fit-content;
              color: $dark !important;
            }
          }
        }
      }
      .outform-actions {
        button {
          display: block;
        }
      }

    }
    .terms-action {
          align-items: center;
          display: flex;
          margin-bottom: 2rem;
        label {
          padding: 0 10px;
        }
    }
  }
}
