page-orders {

  ion-content {
    &.content {
      background-image: url(../assets/imgs/BG2.png);
      background-size: cover;
      background-color: $primary
    }

    ion-list  {
      margin-top: 2rem !important;
      ion-item {
        margin-bottom: 1.2rem !important;
        .item-inner {
          padding: 0 !important;
        }
        ion-label {
          margin: 0 !important;
        }
        .request-num {
          padding: 8px;
          color: #fff;
          display: flex;
          justify-content: space-between;
        }
        .request-body {
          display: flex;
          justify-content: space-between;
          padding: 12px 8px;
          p {
            &:first-of-type {
              white-space: pre-wrap;
            }
          }
        }
      }
    }
  }
}
