
<ion-header no-border>
  <ion-navbar color="primary" class="header-bg">
    <ion-title>{{'orders'|translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p text-center>
    <ion-spinner *ngIf="loader"></ion-spinner>
  </p>
  <p text-center margin *ngIf="orders&&!orders.length">
    لا يوجد طلبات
  </p>
  <ion-list no-lines>
    <ion-item no-border no-padding margin-bottom
              (click)="openPage('OrderPage', order, i+1)"
              *ngFor="let order of orders;let i = index"
    >
      <p class="header-bg request-num">
       <span> طلبية {{i+1}}</span>
        <span>
          <ion-icon name="egg" [color]="order.status==3?'danger':(order.status==1?'green':'light')"></ion-icon>&nbsp;
          <span [innerHTML]="getStatus(order)"></span>
        </span>
      </p>
      <div class="request-body">
        <p>{{order.notes}}</p>
        <p class="estimate-time">
          <ion-icon color="primary" name="timer"></ion-icon>
          <span>{{order.time}} دقيقة</span>
        </p>
        <!--<p>{{order.total|currency:'2.1'}}</p>-->
      </div>
    </ion-item>

  </ion-list>
</ion-content>
