<img class="stacked-img-header" src="assets/imgs/logo-head.png" width="86" alt="">
<ion-header no-border>
  <ion-navbar color="primary" class="header-bg">
    <button ion-button icon-only clear >
      <ion-icon class="bill-icon" name="notifications"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="openPage('MapsPage')">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only class="cart-button" (click)="openPage('CartPage')">
        <ion-icon name="cart">
          <!--<ion-badge color="secondary">0</ion-badge>-->
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <section margin-top text-center >
    <ion-chip class="page-title">
      <ion-icon name="basket"></ion-icon>
      <ion-label>طلباتى</ion-label>
    </ion-chip>
  </section>
  <p text-center>
    <ion-spinner *ngIf="loader"></ion-spinner>
  </p>
  <p text-center margin *ngIf="orders&&!orders.length">
    لا يوجد طلبات
  </p>
  <ion-list no-lines>
    <ion-item no-border no-padding margin-bottom
              (click)="openPage('OrderPage', order, i+1)"
              *ngFor="let order of orders;let i = index"
    >
      <p class="header-bg request-num">
       <span> طلبية {{i+1}}</span>
        <span>
          <ion-icon name="egg" [color]="order.status==2?'danger':(order.status==1?'green':'light')"></ion-icon>&nbsp;
          <span [innerHTML]="order.status==2?'تم الالغاء':(order.status == 1?'تم التوصليل والتسليم':'فى انتظار استلام المندوب')"></span>
        </span>
      </p>
      <div class="request-body">
        <p>{{order.notes}}</p>
        <p class="estimate-time">
          <ion-icon color="primary" name="timer"></ion-icon>
          <span>{{order.time}} دقيقة</span>
        </p>
        <!--<p>{{order.total|currency:'2.1'}}</p>-->
      </div>
    </ion-item>

  </ion-list>
</ion-content>
